<section class="about-headline-section text-center">
	<div class="about-logo-box"></div>
	<h1>
		損害保険社員が参加する<br>
		交通事故相談特化型のQAサイトです。
	</h1>
</section>
<div class="about-all">
	<div class="about-main" id="sampleMainContents">
		<h2 class="text-center" id="about1">コンセプト</h2>
		<h4 class="text-center"  id="about2">巨大な事故対応集を作る</h4>
		<p>
			事故対応には「判例タイムズ」といった過去の事故の判例を集めた資料に載っている「基本割合」を基に対応を進めていくのが一般的です。しかし、世の中に同じ事故はなく対応は事故によって千差万別であり、示談であるために判例集にも乗らない個別対応が存在します。ユーザーが質問、回答をすることによって、様々な事故の対応を蓄積し、すべての人が無料で閲覧できる対応集を作ります。
		</p>
		<h4 class="text-center"  id="about3">交通事故の保険対応分野に特化した信憑性の高い情報を提供</h4>
		<p>
			質問の分野は交通事故に限定されます。さらに回答するユーザは、損害保険で示談交渉を経験し実務に即した回答を提供できる損保社員です。あなたが訴訟ではなく示談で事故を解決したくて悩んでいるとき、迷わずこのサイトで質問すれば問題が解決できるよう手助けします。
		</p>
		<h4 class="text-center"  id="about4">損害保険の示談交渉ノウハウを会社や立場の垣根を越えて共有する</h4>
		<p>
			回答者はこのサイトにおいて会社の肩書を持ちません。質問者は会社の垣根を越えて様々な回答を得ることができ、回答者は様々な会社の対応やノウハウを知ることができます。「自分の保険会社にはこう言われたけど他に解決の仕方はないか」と思っている事故被害者の方、「対応に行き詰ってしまった。何か方法はないか」と悩んでいる損保社員の手助けになります。
		</p>

		<h2 class="text-center"  id="about5">できること</h2>
		<h4 class="text-center"  id="about6">質問</h4>
		<p>
			質問者としてユーザー登録をすれば質問ができます。事故情報と質問内容を投稿すれば後は回答を待つだけです。
		</p>
		<h4 class="text-center"  id="about7">回答</h4>
		<p>
			もしあなたが損害保険で事故対応の実務経験があれば回答者として回答ができます。自分が答えられる質問を見つけ回答をします。回答をしたり、投稿した回答がベストアンサーに選ばれればスコアポイントを獲得でき、スコアに応じてレベルが上がっていきます。
		</p>
		<h4 class="text-center"  id="about8">気になる事故や質問を検索</h4>
		<p>
			気になるキーワードや質問についているタグで検索することによって、あなたが知りたいと思う事故対応の関連質問を検索できます。検索結果の一覧には事故の状況図が画像となって確認できるようになっているため、似た事故状況を探しやすくなっています。
		</p>
		<h4 class="text-center"  id="about9">関連記事を確認</h4>
		<p>一つの質問ページを開くと、下部に関連した質問を集めて表示します。スムーズな検索に役立ちます。</p>

		<h2 class="text-center"  id="about10">回答の信憑性</h2>
		<h4 class="text-center"  id="about11">プロフィールのスキルセットを確認</h4>
		<p>
			回答者の損保社員としてのスキルセットを確認できます。現役かどうか、経験年数、専門分野、技術資格の有無を確認することによって、ついた回答の信憑性をはかることができます。
		</p>
		<h4 class="text-center"  id="about12">スコアを確認</h4>
		<p>
			回答者は回答を投稿すると10ポイント、ベストアンサーを獲得すると100ポイント獲得できます。多く回答し、多くベストアンサーを得るほどスコアがたまり、高いスコアは信憑性の指針になります。
		</p>
		<h4 class="text-center"  id="about13">レベルを確認</h4>
		<p>
			スコアがたまっていくとレベルアップします。1～MAXまでの6段階に分けられ、高いレベルは信憑性の指針となります。レベルアップすると回答者のキャラクターがどんどん進化します。キャラクターはプロフィール画像として反映され、一目で回答者としてのレベルを把握できるようになっています。
		</p>
		<div class="about-resistration-guide text-center row">
			<%= link_to homes_before_signup_path, class:"btn btn-info" do %>
				<i class="fas fa-user-plus"></i> ユーザー登録をする
			<% end %>
		</div>
	</div>
	<div class="about-side">
		<div id="sampleFix">
			<div data-spy="scroll" id="sampleScrollSpy">
				<ul class="nav nav-pills nav-stacked">
					<li><a class="linkInThePage" href="#about1">コンセプト</a></li>
					<li><a class="linkInThePage" href="#about2">巨大な事故対応集を作る</a></li>
					<li><a class="linkInThePage" href="#about3">交通事故の保険対応分野に特化した信憑性の高い情報を提供</a></li>
					<li><a class="linkInThePage" href="#about4">損害保険の示談交渉ノウハウを会社や立場の垣根を越えて共有する</a></li>
					<li><a class="linkInThePage" href="#about5">できること</a></li>
					<li><a class="linkInThePage" href="#about6">質問</a></li>
					<li><a class="linkInThePage" href="#about7">回答</a></li>
					<li><a class="linkInThePage" href="#about8">気になる事故や質問を検索</a></li>
					<li><a class="linkInThePage" href="#about9">関連記事を確認</a></li>
					<li><a class="linkInThePage" href="#about10">回答の信憑性</a></li>
					<li><a class="linkInThePage" href="#about11">プロフィールのスキルセットを確認</a></li>
					<li><a class="linkInThePage" href="#about12">スコアを確認</a></li>
					<li><a class="linkInThePage" href="#about13">レベルを確認</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

