<div class="befor-signup-view">
	<p>どちらで利用登録しますか？</p>
	<div class="user-select-box">
		<div class="user-select-button">
			<%= link_to new_question_user_registration_path do %>
			<p>質問をしたい</p>
			<div class="user-select-img"></div>
			<% end %>
		</div>
		<div class="user-select-button">
			<%= link_to new_answer_user_registration_path do %>
			<p>損保経験者だ</p>
			<div class="user-select-img"></div>
			<% end %>
		</div>
	</div>
</div>
