<div class="solve-view row">
	<div class="solve-message"><p>お疲れ様でした</p> </div>
	<div class="solve-img"></div>
	<div>
		<%= link_to root_path do %>
		<p><<トップページに戻る</p>
		<% end %>
	</div>
</div>