// Place all the styles related to the accidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new,edit
.new-accident-view{
	margin: 30px 0;
	.accident-section{
		padding: 30px;
		background-color: white;
		.input-section{
				display: flex;
				justify-content: center;
				.input-text-section{
						width: calc(100% /2);
						.acciident-form{
							margin-bottom: 10px;
						}
				}
				.input-img-section{
					width: calc(100% /2);
					margin-left: 10px;
					.imput-img-label{
						text-align: center;
						font-sixe: 15px;
					}
					.input-img-form{
						text-align: center;
						width: 100%;
						height: 300px;
						margin-bottom: 10px;
						border-radius: 10px;
						.img-field{
							display: flex;
							justify-content: center;
							.input-img-icon{
							display: none;
							color: white;
							}
						}
					}
					.input-img-guide{
						border: 2px solid #32c5f0;
						border-radius: 10px;
						padding: 15px;
					}
				}
			}
			.accident-submit-btn-wrap{
				text-align: center;
			}
	}
}

.input-img-form:hover{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease-out;
	background-color: #32c5f0;
	.input-img-icon{
		display: block !important;
		font-size: 50px;
	}
	.file-preview{
		display: none;
	}
}

// show
.accident-view{
	margin: 30px 0;
	.accident-section{
		padding: 30px;
		background-color: white;
		.accident-info-box{
			margin: 10px 0;
			.question-user-name{
				font-weight: bold;
			}
			.accident-created-at{
				margin-left: 10px;
			}
		}
		.accident-title-box{
			.accident-status-false, .accident-status-true{
				font-size: 20px;
			}
			.accident-title{
				display: flex;
				justify-content: flex-end;
				h2{
					font-weight: bold;
				}
				.accident-edit-link{
					padding: 5px;
					font-size: 50px;
					.link-tag{
						color: #32c5f0 !important;
					}
					.accident-edit-link-icon{
						line-height: 100%;
					}
				}
			}
		}
		.accident-body-box{
			display: flex;
			justify-content: center;
		}
		.accident-damage-box{
			.damage-boxes{
			display: flex;
			justify-content: center;
				.question-user-damage, .the-other-damage{
					width: calc(100% /2);
					padding: 10px;
					border: solid 1px #dfdfdf;
				}
				.question-user-damage{
					margin-right: 10px;
				}
			}
		}
		.accidnt-question-box{
			color: black;
			i{
				margin-right: 10px;
			}
			.new-question-box{
				font-size: 20px;
				i{
					margin-right: 10px;
				}
			}
		}
		.accident-solution-box{
			.solution-report-submit-btn-wrap{
				margin-top: 10px;
			}
			.solution-report-link-box{
				font-size: 15px;
				.solution-report-edit-link-icon{
				font-size: 15px;
				}
			}
		}
	}
}

.accident-title > :first-child{
	margin-right: auto;
}

.accident-view h4{
	margin-top: 30px;
	padding-left: 10px;
	border-left: 3px solid #32c5f0;
	font-weight: bold;
}

.accident-view h5{
	font-weight: bold;
}
