// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// before_signup
.befor-signup-view{
	margin: 80px 0;
	p{
		text-align: center;
		font-size: 30px;
		font-weight: bold;
	}
	.user-select-box{
		display: flex;
		justify-content: center;
		width: 100%;
		.user-select-button{
			width: calc(100% /2);
			height: 100%;
			p{
				text-align: center;
				font-size: 20px;
				font-weight: bold;
			}
			.user-select-img{}
		}
	}
}

.user-select-box .user-select-button{
	width: calc(100% /2);
}
